name: Analyze Dependencies

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  analyze-dependencies:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Analyze dependencies
        uses: addnab/docker-run-action@v3
        with:
          image: madhukaraman/dependency-generator-core:latest
          options: -v ${{ github.workspace }}  # Mount to /app instead of /workspace
          run: |
            node src/index.js --dir /repo --output /output/dependency-graph.json --send
